/*
	##CONVENTION##
elem {
	color
	background

	border

	other style properties

	display

	sizing
	padding
	marign
}
*/
/* * {
	border: 0.5px dashed red;
} */
/* footer{
	margin-top: 10vh;
	position: relative;
	background-color: #f0f0f0;
} */
/* main {
    background-color: #656565;
}
header {
    background-color: #e7e7e7;
} */
img {
    display: none;
}

.out-img-container {
    /* background-image: url("../img/background.png");
    background-repeat: repeat; */
    background-color: #e0e9ec;
    border-radius: 0.7vh;
    /*cursor: cell;*/
    cursor: crosshair;
    padding: 1vh;
    height: 70vh;
    width: 99vh;
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.output-img {

    position: relative;

}

.tool-box {
    background-color: #eeeeee;
    margin-top: 10vh;
    position: relative;
}

.tool-box a, .jscolor {
    margin-top: .9vh;
    padding: 0.6vh;

}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.input-file {
    display: none;
}

.inp-file-label {
    cursor: pointer;
}

.jscolor {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1vh;
}

.material-icons {
    font-size: 4vh;
}

.crop-area {
    border: 2px solid black;
    position: absolute;
    z-index: 999;
    pointer-events: none;


}

#penSize{
    display: none;
    margin-top: 2.5vh;
    margin-left: 1vh
}

#size{
    font-size:2.4vh;
    width:6.5vh;
    height:4vh;
    margin-left:1vh;
}

i{
	vertical-align:middle;
	position: relative;
	left: -0.3vh;
}

#textTool{
    position:absolute;
    display: none;
}

#fontFamily{
	margin-left:2vh;
	margin-top:.2vh;
	margin-bottom:.2vh;
	width:-webkit-fill-available;
}

#textSize{
	margin-left: 2vh;
	width:50%;
	display:inline-block;
}

#textColor{
	height:4.5vh;
}

/*SOMETHING LIKE THIS*/
/* table tr:nth-child(odd) td:nth-child(even) {
  background: #000;
}
table tr:nth-child(even) td:nth-child(odd) {
  background: #000;
} */
