/* footer{
	margin-top: 10vh;
	position: relative;
	background-color: #f0f0f0;
} */

/* main {
    background-color: #656565;
}

header {
    background-color: #e7e7e7;
} */

.output-img {
    /* background-image: url("../img/background.png");
    background-repeat: repeat; */
	background-color: #e0e9ec;

    height: 100%;
    width: 100%;
    margin-top: 10vh;
	border-radius: 0.7%;
    cursor: crosshair;
}

img {
	margin-top: 5vh;
	display: none;
}

.tool-box {
	background-color: #eeeeee;
	border-radius: 1%;
}

.tool-box a {
	margin-top: 0.5vh;
}

/*SOMETHING LIKE THIS*/
/* table tr:nth-child(odd) td:nth-child(even) {
  background: #000;
}
table tr:nth-child(even) td:nth-child(odd) {
  background: #000;
} */
