/*
	##CONVENTION##
elem {
	color
	background

	border

	other style properties

	display

	sizing
	padding
	marign
}
*/
/* * {
	border: 0.5px dashed red;
} */
/* footer{
	margin-top: 10vh;
	position: relative;
	background-color: #f0f0f0;
} */
/* main {
    background-color: #656565;
}
header {
    background-color: #e7e7e7;
} */
img {
    display: none;
}

.out-img-container {
    /* background-image: url("../img/background.png");
    background-repeat: repeat; */
    background-color: #e0e9ec;
    border-radius: 0.7vh;
    /*cursor: cell;*/
    cursor: crosshair;
    padding: 1vh;
    height: 70vh;
    width: 99vh;
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
}

.tool-box {
    background-color: #eeeeee;
    margin-top: 10vh;
    position: static;
}

.tool-box a, .jscolor {
    margin-top: .5vh;
}

.input-file {
    display: none;
}

.inp-file-label {
    cursor: pointer;
}

.jscolor{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#penSize{
    display: none;
    margin-top: 2.5vh;
    margin-left: 1vh
}

#size{
    font-size:2.4vh;
    width:6.5vh;
    height:4vh;
    margin-left:1vh;
}
/*SOMETHING LIKE THIS*/
/* table tr:nth-child(odd) td:nth-child(even) {
  background: #000;
}
table tr:nth-child(even) td:nth-child(odd) {
  background: #000;
} */
